// VARIABLES START:

// FONT-SIZES:
$main-heading: 224px;
$detail-heading: 25px;
$content-heading: 66px;
$para: 14px;
$btn: 18px;

// BG-COLOR:
$dark-brown: #611818;
$para-color: #505050;
$white: #fff;

// FONT-WEIGHT:
$bold: bold;
$normal: normal;

// VARIABLES END: